/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts and Typography */
@font-face {
  font-family: Nasalization;
  /* src: url(../fonts/neuropol_x_rg-webfont.woff); */
  src: url(../fonts/nasalization_rg-webfont.woff2);
}

.header-text-top,
.header-text-bottom {
  color: #fff;
  font-size: 26px;
  font-weight: 400;
}

.header-text-top {
  margin-bottom: -100px;
}

h2,
h3,
p,
.main.h2,
label {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.main h2 {
  font-size: 26px;
  font-weight: 400;
}

label {
  font-size: 12px;
  letter-spacing: 0.25ch;
}

/* Flexbox Setup */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    background: linear-gradient(90deg, #000, #000, #5585c0);
  height: 100vh;
}

div.container {
  display: flex;
  width: 1400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

div.left {
  height: 80vh;
  width: 520px;
  overflow: hidden;
}

div.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 65px 50px 0px 50px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 70px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 2px -2px rgba(255, 255, 255, 0.2);
  gap: 20px;
}

.form-container {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}

.form-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-left div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-right div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 50px;

}

input {
  width: 240px;
  height: 35px;
  border-radius: 5px;
  background-color: rgba(94, 130, 245, 0.2);
}

.create-account-btn {
  border-radius: 5px;
  width: 200px;
  height: 50px;
  color: #FFF;
  font-size: 18px;
  font-weight: bold;
  border: none;
  background-color: rgba(94, 130, 245, 0.2);;
}