/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #000; */
  background: linear-gradient(90deg, #000, #000, #5585c0);
  height: 100vh;
}

@font-face {
  font-family: Nasalization;
  /* src: url(../fonts/neuropol_x_rg-webfont.woff); */
  src: url(../fonts/nasalization_rg-webfont.woff2);
}

.header-text {
  color: white;
}

h2,
h3,
p {
  font-family: 'Roboto', sans-serif;
}

h2 {
  /* font-weight: 800; */
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}

label{
  color: #FFF;
}

div.container {
  display: flex;
  width: 1400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

div.left {
  height: 70vh;
  width: 600px;
}

div.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px 50px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 50px 0 50px 50px;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 4px 2px -2px rgba(255, 255, 255, 0.2);
  border: 1px solid pink;
  gap: 20px;
}

.form-container{
  display: flex;
  justify-content: space-around;
  border: 1px solid green;
}

.form-left{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  border: 1px solid red;
}

.form-right{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  border: 1px solid red;
}

.footer {
  flex: 1;
}
